<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <route url="/" module="Actualite" action="showLast" />

    <!-- Actualite -->
    <route url="/actualite" module="Actualite" action="showArchive" />
    <route url="/actualite/([0-9]+)/[a-z0-9-]+" module="Actualite" action="showActualite" vars="id" />
    <route url="/actualite/archive/([0-9]+)/([0-9-]+)" module="Actualite" action="showArchive" vars="annee,mois" />

    <!-- Auteur -->
    <route url="/auteur/([0-9]+)/[a-z0-9-]+" module="Auteur" action="showAuteur" vars="id" />
    <route url="/auteur/([0-9]+)/[a-z0-9-]+/livre" module="Auteur" action="showLivres" vars="id" />
    <route url="/auteur/([0-9]+)/[a-z0-9-]+/page" module="Auteur" action="showPages" vars="id" />
    <route url="/auteur/([0-9]+)/[a-z0-9-]+/page/([0-9]+)/[a-z0-9-]+" module="Auteur" action="showPage" vars="id,pageid" />
    <route url="/auteur/([0-9]+)/[a-z0-9-]+/category/([0-9]+)/[a-z0-9-]+" module="Auteur" action="showCategory" vars="id,cateogryid" />
    <route url="/auteur/([0-9]+)/[a-z0-9-]+/category/([0-9]+)/[a-z0-9-]+/image/([0-9]+)" module="Auteur" action="showImage" vars="id,cateogryid,imageid" />

    <!-- Concours -->
    <route url="/concours" module="Concours" action="listConcours" vars="" />
    <route url="/concours/([0-9]+)/[a-z0-9-]+" module="Concours" action="showConcours" vars="id" />
    <route url="/concours/([0-9]+)/[a-z0-9-]+/participate" module="Concours" action="participeConcours" vars="id" />
    <route url="/concours/([0-9]+)/[a-z0-9-]+/done" module="Concours" action="participeDone" vars="id" />
    <route url="/concours/([0-9]+)/[a-z0-9-]+/error/([0-9]+)" module="Concours" action="errorConcours" vars="id,error" />

    <route url="/concours/(test)/([0-9]+)/[a-z0-9-]+" module="Concours" action="showConcours" vars="test,id" />
    <route url="/concours/(test)/([0-9]+)/[a-z0-9-]+/participate" module="Concours" action="participeConcours" vars="test,id" />
    <route url="/concours/(test)/([0-9]+)/[a-z0-9-]+/done" module="Concours" action="participeDone" vars="test,id" />
    <route url="/concours/(test)/([0-9]+)/[a-z0-9-]+/error/([0-9]+)" module="Concours" action="errorConcours" vars="test,id,error" />

    <!-- Cycle -->
    <route url="/cycle/([0-9]+)/([0-9]+)/[a-z0-9-]+" module="Cycle" action="showCycle" vars="auteurid,id" />
    <route url="/cycle/([0-9]+)/([0-9]+)/[a-z0-9-]+/livre" module="Cycle" action="showLivres" vars="auteurid,id" />
    <route url="/cycle/([0-9]+)/([0-9]+)/[a-z0-9-]+/page" module="Cycle" action="showPages" vars="auteurid,id" />
    <route url="/cycle/([0-9]+)/([0-9]+)/[a-z0-9-]+/page/([0-9]+)/[a-z0-9-]+" module="Cycle" action="showPage" vars="auteurid,id,pageid" />
    <route url="/cycle/([0-9]+)/([0-9]+)/[a-z0-9-]+/category/([0-9]+)/[a-z0-9-]+" module="Cycle" action="showCategory" vars="auteurid,id,cateogryid" />
    <route url="/cycle/([0-9]+)/([0-9]+)/[a-z0-9-]+/category/([0-9]+)/[a-z0-9-]+/image/([0-9]+)" module="Cycle" action="showImage" vars="auteurid,id,cateogryid,imageid" />

    <!-- Général -->
    <route url="/about" module="About" action="about" />
    <route url="/contact" module="Contact" action="contact" />
    <route url="/mentions" module="About" action="mentions" />
    <route url="/newsletter" module="Newsletter" action="handle" />
    <route url="/newsletter/subscribe" module="Newsletter" action="subscribe" />
    <route url="/newsletter/unsubscribe" module="Newsletter" action="unsubscribe" />

    <!-- Livre -->
    <route url="/livre/([0-9]+)/([0-9]+)/[a-z0-9-]+" module="Livre" action="showLivre" vars="auteurid,id" />
    <route url="/livre/([0-9]+)/([0-9]+)/[a-z0-9-]+/edition" module="Livre" action="showEditions" vars="auteurid,id" />
    <route url="/livre/([0-9]+)/([0-9]+)/[a-z0-9-]+/avis" module="Livre" action="showAvis" vars="auteurid,id" />
    <route url="/livre/([0-9]+)/([0-9]+)/[a-z0-9-]+/page" module="Livre" action="showPages" vars="auteurid,id" />
    <route url="/livre/([0-9]+)/([0-9]+)/[a-z0-9-]+/page/([0-9]+)/[a-z0-9-]+" module="Livre" action="showPage" vars="auteurid,id,pageid" />
    <route url="/livre/([0-9]+)/([0-9]+)/[a-z0-9-]+/category/([0-9]+)/[a-z0-9-]+" module="Livre" action="showCategory" vars="auteurid,id,cateogryid" />
    <route url="/livre/([0-9]+)/([0-9]+)/[a-z0-9-]+/category/([0-9]+)/[a-z0-9-]+/image/([0-9]+)" module="Livre" action="showImage" vars="auteurid,id,cateogryid,imageid" />

    <!-- Page -->
    <route url="/page/([0-9]+)/[a-z0-9-]+" module="Page" action="showPage" vars="id" />

    <!-- Wiki -->

    <!-- Administration -->
    <!-- Administration / Auteur -->
    <route url="/auteur/add" module="Auteur" action="add" />
    <route url="/auteur/([0-9]+)/[a-z0-9-]+/edit" module="Auteur" action="edit" vars="id" />
    <route url="/auteur/([0-9]+)/[a-z0-9-]+/category/add" module="Auteur" action="addCategory" vars="id" />
    <route url="/auteur/([0-9]+)/[a-z0-9-]+/category/([0-9]+)/[a-z0-9-]+/add" module="Auteur" action="addCategory" vars="id,cateogryid" />
    <route url="/auteur/([0-9]+)/[a-z0-9-]+/category/([0-9]+)/[a-z0-9-]+/edit" module="Auteur" action="editCategory" vars="id,cateogryid" />
    <route url="/auteur/([0-9]+)/[a-z0-9-]+/category/([0-9]+)/[a-z0-9-]+/image/([0-9]+)/edit" module="Auteur" action="editImage" vars="id,cateogryid,imageid" />
    <route url="/auteur/([0-9]+)/[a-z0-9-]+/category/([0-9]+)/[a-z0-9-]+/image/add" module="Auteur" action="addImage" vars="id,cateogryid" />
    <route url="/auteur/([0-9]+)/[a-z0-9-]+/edit/image" module="Auteur" action="editFicheImage" vars="id" />

    <!-- Administration / Cycle -->
    <route url="/cycle/([0-9]+)/([0-9]+)/[a-z0-9-]+/edit" module="Cycle" action="edit" vars="auteurid,id" />
    <route url="/cycle/([0-9]+)/([0-9]+)/[a-z0-9-]+/edit/image" module="Cycle" action="editFicheImage" vars="auteurid,id" />
    <route url="/cycle/([0-9]+)/add" module="Cycle" action="add" vars="auteurid" />
    <route url="/cycle/([0-9]+)/([0-9]+)/[a-z0-9-]+/category/add" module="Cycle" action="addCategory" vars="auteurid,id" />
    <route url="/cycle/([0-9]+)/([0-9]+)/[a-z0-9-]+/category/([0-9]+)/[a-z0-9-]+/add" module="Cycle" action="addCategory" vars="auteurid,id,cateogryid" />
    <route url="/cycle/([0-9]+)/([0-9]+)/[a-z0-9-]+/category/([0-9]+)/[a-z0-9-]+/edit" module="Cycle" action="editCategory" vars="auteurid,id,cateogryid" />
    <route url="/cycle/([0-9]+)/([0-9]+)/[a-z0-9-]+/category/([0-9]+)/[a-z0-9-]+/image/add" module="Cycle" action="addImage" vars="auteurid,id,cateogryid" />
    <route url="/cycle/([0-9]+)/([0-9]+)/[a-z0-9-]+/category/([0-9]+)/[a-z0-9-]+/image/([0-9]+)/edit" module="Cycle" action="editImage" vars="auteurid,id,cateogryid,imageid" />

    <!-- Administration / Livre -->
    <route url="/livre/([0-9]+)/add" module="Livre" action="add" vars="auteurid" />
    <route url="/livre/([0-9]+)/([0-9]+)/[a-z0-9-]+/edit" module="Livre" action="edit" vars="auteurid,id" />
    <route url="/livre/([0-9]+)/([0-9]+)/[a-z0-9-]+/edit/image" module="Livre" action="editFicheImage" vars="auteurid,id" />
    <route url="/livre/([0-9]+)/([0-9]+)/[a-z0-9-]+/edition/add" module="Livre" action="addEdition" vars="auteurid,id" />
    <route url="/livre/([0-9]+)/([0-9]+)/[a-z0-9-]+/edition/([0-9]+)/edit" module="Livre" action="editEdition" vars="auteurid,id,editionid" />
    <route url="/livre/([0-9]+)/([0-9]+)/[a-z0-9-]+/edition/([0-9]+)/edit/image" module="Livre" action="editEditionImage" vars="auteurid,id,editionid" />
    <route url="/livre/([0-9]+)/([0-9]+)/[a-z0-9-]+/category/add" module="Livre" action="addCategory" vars="auteurid,id" />
    <route url="/livre/([0-9]+)/([0-9]+)/[a-z0-9-]+/category/([0-9]+)/[a-z0-9-]+/add" module="Livre" action="addCategory" vars="auteurid,id,cateogryid" />
    <route url="/livre/([0-9]+)/([0-9]+)/[a-z0-9-]+/category/([0-9]+)/[a-z0-9-]+/edit" module="Livre" action="editCategory" vars="auteurid,id,cateogryid" />
    <route url="/livre/([0-9]+)/([0-9]+)/[a-z0-9-]+/category/([0-9]+)/[a-z0-9-]+/image/add" module="Livre" action="addImage" vars="auteurid,id,cateogryid" />
    <route url="/livre/([0-9]+)/([0-9]+)/[a-z0-9-]+/category/([0-9]+)/[a-z0-9-]+/image/([0-9]+)/edit" module="Livre" action="editImage" vars="auteurid,id,cateogryid,imageid" />

    <!-- Administration / Page -->
    <route url="/page/add" module="Page" action="addPage" vars="" />
    <route url="/auteur/([0-9]+)/[a-z0-9-]+/page/add" module="Auteur" action="addPage" vars="id" />
    <route url="/cycle/([0-9]+)/([0-9]+)/[a-z0-9-]+/page/add" module="Cycle" action="addPage" vars="auteurid,id" />
    <route url="/livre/([0-9]+)/([0-9]+)/[a-z0-9-]+/page/add" module="Livre" action="addPage" vars="auteurid,id" />

    <route url="/page/([0-9]+)/[a-z0-9-]+/edit" module="Page" action="editPage" vars="id" />
    <route url="/auteur/([0-9]+)/[a-z0-9-]+/page/([0-9]+)/[a-z0-9-]+/edit" module="Auteur" action="editPage" vars="id,pageid" />
    <route url="/cycle/([0-9]+)/([0-9]+)/[a-z0-9-]+/page/([0-9]+)/[a-z0-9-]+/edit" module="Cycle" action="editPage" vars="auteurid,id,pageid" />
    <route url="/livre/([0-9]+)/([0-9]+)/[a-z0-9-]+/page/([0-9]+)/[a-z0-9-]+/edit" module="Livre" action="editPage" vars="auteurid,id,pageid" />

    <!-- Redirection -->
    <route url="/interviews-([0-9]+)-[A-Za-z_]+.html" module="Redirection" action="interviewId" vars="interviewid" />
    <route url="/actualite-([0-9]+)-[a-zA-Z0-9_]+.html" module="Redirection" action="actualite" vars="id" />
    <route url="/([a-z]+)-([0-9]+)-[A-Za-z_]+.html" module="Redirection" action="livreId" vars="section,livreid" />    
    <route url="/([a-z]+)-([0-9]+)-[A-Za-z_]+-tome_([0-9]+)-[A-Za-z_]+.html" module="Redirection" action="livreTome" vars="section,cycleid,tome" />
    <route url="/([a-z]+)-([0-9]+)-[A-Za-z_]+-([0-9]+)-[A-Za-z0-9_]+.html" module="Redirection" action="livrePage" vars="section,livreid,pageid" />
    
    <route url="/interviews.php?id=([0-9]+)&amp;" module="Redirection" action="interviewId" vars="interviewid" />
    <route url="/actualite.php?id=([0-9]+)&amp;" module="Redirection" action="actualite" vars="id" />
    <route url="/livre.php?id=([0-9]+)&amp;partie=([a-z]+)" module="Redirection" action="livreId" vars="livreid,section" />
    <route url="/livre.php?cid=([0-9]+)&amp;tid=([0-9]+)&amp;partie=([a-z]+)" module="Redirection" action="livreTome" vars="cycleid,tome,section" />
    <route url="/livres.php?id=([0-9]+)&amp;partie=([a-z]+)&amp;pageid=([0-9]+)" module="Redirection" action="livrePage" vars="livreid,section,pageid" />
</routes>
