<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <route url="/" module="Accueil" action="showAccueil" />

    <!-- Auteur -->
    <route url="/auteur/([0-9]+)/([a-z0-9]+)" module="Auteur" action="showAuteur" vars="id,name" />
    <route url="/auteur/([0-9]+)/([a-z0-9]+)/livre" module="Auteur" action="showLivres" vars="id,name" />
    <route url="/auteur/([0-9]+)/([a-z0-9]+)/page" module="Auteur" action="showPages" vars="id,name" />
    <route url="/auteur/([0-9]+)/([a-z0-9]+)/page/([0-9]+)/([a-z0-9]+)" module="Auteur" action="showPage" vars="id,name,pageid,pagename" />

    <!-- Concours -->


    <!-- Cycle -->
    <route url="/cycle/([0-9]+)/([0-9]+)/([a-z0-9]+)" module="Cycle" action="showCycle" vars="auteurid,id,name" />
    <route url="/cycle/([0-9]+)/([0-9]+)/([a-z0-9]+)/livre" module="Cycle" action="showLivres" vars="auteurid,id,name" />
    <route url="/cycle/([0-9]+)/([0-9]+)/([a-z0-9]+)/page" module="Cycle" action="showPages" vars="auteurid,id,name" />
    <route url="/cycle/([0-9]+)/([0-9]+)/([a-z0-9]+)/page/([0-9]+)/([a-z0-9]+)" module="Cycle" action="showPage" vars="auteurid,id,name,pageid,pagename" />

    <!-- Galerie -->

    <!-- Général -->
    <route url="/about" module="About" action="about" />
    <route url="/contact" module="Contact" action="contact" />
    <route url="/mentions" module="About" action="mentions" />

    <!-- Livre -->
    <route url="/livre/([0-9]+)/([0-9]+)/([a-z0-9]+)" module="Livre" action="showLivre" vars="auteurid,id,name" />
    <route url="/livre/([0-9]+)/([0-9]+)/([a-z0-9]+)/edition" module="Livre" action="showEditions" vars="auteurid,id,name" />
    <route url="/livre/([0-9]+)/([0-9]+)/([a-z0-9]+)/page" module="Livre" action="showPages" vars="auteurid,id,name" />
    <route url="/livre/([0-9]+)/([0-9]+)/([a-z0-9]+)/page/([0-9]+)/([a-z0-9]+)" module="Livre" action="showPage" vars="auteurid,id,name,pageid,pagename" />

    <!-- Wiki -->

    <!-- Administration -->
    <!-- Administration / Auteur -->

    <!-- Administration / Cycle -->

    <!-- Administration / Page -->
    

</routes>
